.login {
  max-width: 1500px;
  height: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #171717;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login h1 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #00bfff;
  text-align: center;
  position: relative;
  padding-left: 10px
}

.login h1::before,
.login h1::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #00bfff;
  margin-left: 0;
}

.login h1::before {
  left: 0px;
}

.login h1::after {
  left: 0px;
  width: 18px;
  height: 18px;
  animation: pulse 2s linear infinite;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2em;
  background-color: #171717;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 2em 0;
  color: #00bfff;
  font-size: 1.5em;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 15px 10px 5px 10px;
  outline: none;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.input:placeholder-shown + span {
  bottom: 10px;
  font-size: 0.9em;
}

.input:focus + span,
.input:valid + span {
  
  font-size: 0.8em;
  font-weight: 600;
}

.submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #00bfff;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit:hover {
  background-color: #00bfff96;
}

.sign-up,.button2 {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em 0;
  gap: 5px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
.message, 
.signin {
  
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.sign-up {
  text-align: center;
}

.sign-up a {
  color: #00bfff;
  text-decoration: none;
}

.sign-up a:hover {
  text-decoration: underline;
  color: royalblue;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}