.login {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;}
  
  .form:hover {
    transform: scale(1.05);
    border: 1px solid black;}
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;}
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .button {
    position: relative;
    display: inline-flex;
    height: 3em;
    padding: 1px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background: none;
    transition: transform 0.2s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
  }
  
  .button .bg-animation {
    position: absolute;
    inset: -1000%;
    background: conic-gradient(from 90deg at 50% 50%, #e7029a 0%, #f472b6 50%, #bd5fff 100%);
    animation: spin 2s linear infinite;
  }
  
  .button .text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 1em;
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
    background-color: #171717;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover .text {
    background-color: #202020;
  }
  
  /* .button1 {
    background-color: blue;
    color: white;
    margin-right: 10px;
    padding: 0.5em 1em;
    border-radius: 600px;
    border: none;
    overflow: hidden;
    position: relative;
  } */
  
  .button1 .bg-animation {
    inset: 5;}
  
  .button1:hover {
    background-color:whitesmoke;}
  
  .button2 {
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0;
    border-radius: 10px;
    transition: background-color 1.3s;}
  
  .button2:hover {
    background-color: darkgrey;}
  
  .error-message {
    color: red;
    margin-top: 10px;
    text-align: center;}
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }}